.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
media/README/**
media/walkthroughs/**
!media/walkthroughs/imports/overview.md
!media/walkthroughs/icon.png